@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.card_list {
  color: white;
  padding: 50px;
  max-width: 1200px;
  margin: auto;

  * {
    box-sizing: border-box;
    font-family: 'Pretendard';
  }
  
  .main_title {
    font-size: 40px;
    font-weight: 700;
  }
  
  a {
    color: hsl(187, 85%, 60%);
    transition: all 0.3s ease;
  }
  
  a:hover,
  a:focus {
    color: hsl(207, 100%, 94%);
  }
  
  @media screen and (min-width: 900px) {
    header {
      grid-template-columns: 60% 1fr;
    }
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }
  
  p {
    margin: 0 0 0.25em;
    line-height: 1.5;
  }
  
  h2 {
    margin-top: 4em;
    margin-bottom: 0.25em;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 2vw;
  transform-style: preserve-3d;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  position: relative;
  z-index: 90;
}

.card-grid.active {
  z-index: 99;
}
  
@media screen and (min-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 900px) {
  
  .card-grid > .card {
    --row: 1;
    grid-column: 1;
    grid-row: var(--row);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .card-grid > .card:nth-child(1n) {
    position: relative;
    left: -50px;
    top: 10px;
    z-index: calc(var(--card-scale) * 10 + 50);
    transform: translate3d(0, 0, 0.1px) rotateZ(-5deg);
    opacity: 1;
  }
  .card-grid > .card:nth-child(2n) {
    left: 0px;
    top: -10px;
    z-index: calc(var(--card-scale) * 10 + 49);
    transform: translate3d(0, 0, 0.1px) rotateZ(0deg);
    opacity: 0.99;
  }
  .card-grid > .card:nth-child(3n) {
    left: 50px;
    top: 0px;
    z-index: calc(var(--card-scale) * 10 + 48);
    transform: translate3d(0, 0, 0.1px) rotateZ(5deg);
    opacity: 0.99;
  }
  .card-grid > .card.interacting ,
  .card-grid > .card.active {
    opacity: 1;
  }
  
  .card-grid > .card:nth-child(n+4):nth-child(-n+6) { grid-row: 2; }
  .card-grid > .card:nth-child(n+7):nth-child(-n+9) { grid-row: 3; }
  .card-grid > .card:nth-child(n+10):nth-child(-n+12) { grid-row: 4; }
  .card-grid > .card:nth-child(n+13):nth-child(-n+15) { grid-row: 5; }
  .card-grid > .card:nth-child(n+16):nth-child(-n+18) { grid-row: 6; }
  .card-grid > .card:nth-child(n+19) {
    grid-row: auto;
    grid-column: auto;
    transform: none!important;
    left: 0!important;
    top: 0!important;
  }

}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-grid {
    max-width: 420px;
    margin: auto;
  }
  .card-grid > .card:nth-child(1n) {
    left: -100px;
    top: 10px;
    transform: translate3d(0, 0, 0.1px) rotateZ(-5deg);
  }
  .card-grid > .card:nth-child(2n) {
    left: 0px;
    top: -10px;
    transform: translate3d(0, 0, 0.1px) rotateZ(0deg);
  }
  .card-grid > .card:nth-child(3n) {
    left: 100px;
    top: 0px;
    transform: translate3d(0, 0, 0.1px) rotateZ(5deg);
  }
}

.card-grid > .card.active {
  transform: translate3d(0, 0, 0.1px)!important;
}

.footer {
  text-align: center;
  padding: 24px 20px;
  background-color: #1c1e21;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  opacity: 0.8;
}
